.preloader {
    display: none;
}

#canvas {
    background-size: contain !important;
    width: 100%;
    height: auto;
    background: white;
}

body {
    padding: 15px;
}

body > * {
    height: 100%;
}